* {
padding: 0px;
margin: 0px;
}

.cf:after {
	clear: both;
}

.cf {
	zoom: 1;
}

.projeto{
	width:330px;
	height:34px;
}

header{
	height:34px;
	border-bottom: 1px solid #333;
	background-color:rgb(0, 0, 0);
	position:relative;
	display:flex;
}

.titulo-do-box{
    background: white;
    color: black;
	text-align: center;
	
	font-weight: 700;
    padding: 5px;
}

h1{
	padding:auto;
	font-size: 1.25em;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	position:absolute;
	margin:auto;
	color:rgb(255, 255, 255);

	position: relative;
	float: left;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.sessao{
	border-bottom: 1px solid #333;
	border-right: 1px solid #333;
}

.titulo-do-mapa{
	line-height: 1.3em;
	font-weight: 400;
	font-size: 1.25em;
}

.titulo-do-debate{
	background-color:white;
	display:flex;
	padding:10px;
}

.nome-do-debate{
	font-weight: 800;
}

.nome-do-debate , .data-do-debate{
	font-family: 'Montserrat', sans-serif;
	font-size: 1.25em;
	padding: 0px 10px;
}

.selection{
}

.selection > .titulo{
	margin-bottom:8px;
}

.selection > .substance{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.dado-numerico{
	margin-bottom: 2px;
}

.sessao > .cabecalho{
	font-family: 'Montserrat', sans-serif;
	font-size: 1em;
	line-height: 2em;
	font-weight: 400;
	margin-bottom: 0;
}

.sessao > .titulo-do-grafico{
	font-family: 'Montserrat', sans-serif;
	line-height: 1em;
	font-weight: 400;
}

html,body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	font-size: 10px;
	line-height:1.25em;
	font-family: 'Montserrat', sans-serif;
	font-family: 'Lato', sans-serif;
}

.sigma-parent {
	position: relative;
	height: 100%;
}

/* GRAFO */
.sigma-expand {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #000;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#oii span {
	display:none;
}

.titulo-sessao, .uptitle{
	margin-bottom: 10px;
	font-weight: 600;
	color: #4573db;
}

.sessao{
	padding:30px;
}

.sessao-resumo{
	padding-top:0px;
	font-weight: 300;
	letter-spacing: 0.05em;
}

#maintitle {
	width: 100%;
	height: 72px;
	background-repeat: no-repeat;
	margin-bottom:20px;
}

#painel-esquerdo {
	background-color:rgba(0, 0, 0,0.7);
	width:300px;
	color: #fff;
	border-top:1px solid #333;
	letter-spacing: 0.05em;
}

#painel-direito {
	background-color:rgba(0, 0, 0,0.7);
	width:300px;
	color: #fff;
	border-top:1px solid #333;
	border-left: 1px solid #333;
	letter-spacing: 0.05em;
	border: 1px solid #333;
}

.interface{
	display:flex;
	justify-content: space-between;
}

.interfacezona{
	width: 100%;
	position: fixed;
    top: 34px;
}

.qnt-de-membros{
	text-align:right;
}

/*.sessao:not(.sessao-titulo-do-mapa){
	background-color:#141a2e;
}*/

.barra0{
	width: 50%;
}

.quantidade-de-rt{
	text-align:right;
}

.actor, .grupo{
	display: grid;
	margin-bottom: 8px;
}

.grupo, .actor{
	grid-template-columns: 1fr 7fr 1fr;
}

.container-do-grafico{
	margin-bottom: 0px;
}

.sessao-porcentagem > .container-do-grafico{
	height:20px;
	width:270px;
}

.container-textinho{
	line-height: 1.7em;
	font-weight: 300;
}

.sub-texto{
	font-weight: 300px;
	color: #bbb;
}

.texto-horas{
	color: #bbb;
}

.titulo-composto{
	float: left;
}

.titulo-completo{
	margin-bottom:30px;
}

.sessao-porcentagem > .container-do-grafico > div{
	padding-bottom:3px;
}

.legenda{
	color:#bbb;
}